<hr>
<p>
  <strong>Title: <%= @book.title %></strong>
</p>
<p>
  <strong>Description: <%= @book.description %></strong>
</p>
<p>
  <strong>Author: <%= @book.author %></strong><hr>
</p>
<p>
  <strong>Category: <%= Category.find(@book.category_id).name %></strong><hr>
</p>

<h2>Comment</h2>
<p>
  <%= render @book.comments %>
</p>
<h2>Add Comment</h2>
<p>
  <%= render 'comments/form' %>
</p>
<%= link_to "Back" ,books_path %>

<% if user_signed_in? %>
  <% if @book.user_id == current_user.id %> |
  <%= link_to "Edit" ,edit_book_path(@book) %> |
  <%= link_to "Delete" ,book_path(@book), method: :delete,confirm: {data: "are you sure"} %>

  <% end %>
<% end %>
