<!DOCTYPE html>
<html>
  <head>
    <title>Application</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<!------------------------------------------------------------------------------------>


          <h1><%= link_to "Book Review" ,root_path %> </h1>

          <h2> <%= link_to "Sign_up" ,new_user_registration_path %></h2>


          <% if user_signed_in? %>
          <!--when user sign in then-->

          <h2>  <%= link_to "Sign_out",destroy_user_session_path,method: :delete %> </h2>

            <% else %>

            <h2>  <%= link_to "Log_in",new_user_session_path %> </h2>

          <% end %>

        <% if user_signed_in? %>

          <%= link_to "Add New Book" ,new_book_path %>

        <% end %>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<!-------------------------------------------------------------------------------------------->


  <%= yield %>
  </body>
</html>
